.inputbar{
    width: 100%;
    margin-top: 15px;
}

body{
    font-family: 'Prompt', sans-serif;
}

.i-am-centered {
    margin: auto; max-width: 450px;
}

.smoothCSS{
    color: #ffb600;
    text-decoration: underline;
    transition: 0.5s;
}

.smoothCSS:hover{
    color: #ff9900;
    cursor: pointer;
    font-size: 14px;
}