.inputbar{
    width: 100%;
    margin-top: 15px;
}

.i-am-centered {
    margin: auto; max-width: 450px;
}

.smoothCSS{
    color: #ffb800;
    text-decoration: underline;
    transition: 0.5s;
}

.smoothCSS:hover{
    color: #ff9f00;
    cursor: pointer;
    font-size: 14px;
}